.feedback__container{
    display:flex;
    justify-content:space-around;
    margin: 0;
    padding: 0 40px;
}
.feedback__btn {
    cursor:pointer;
    font-size: 16px;
    padding:10px;
    border: none;
    border-radius: 40%;
    text-align: center;
    background-color:#f3f6f9;
    color:#82909e;
    width: 100px;
    margin: 0 8px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.feedback__btn:hover{
    background-color: #4267B2;
    color:white;
    box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}